div{
    width: 200px;
    height: 200px;
    background-color: blue;
}
.box{

width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 106);

}
p{    
    font size: 20px;
}
.dark{
    color: rgb(239, 245, 247);
    background-color: #0c0700;

}
.light{
    color: black;
    background-
    color: antiquewhite;
}
.d1{
    width: 100px;
   height: 100px ;
   background-color: blueviolet;
}